@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Modak&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

.hover-scale {
  transition: all 555ms ease;
  cursor: pointer;
}

.hover-scale:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

.container {
  padding: 80px 24px;
}

.row {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
}

/* 

NAV

*/

.nav__bar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 100%;
  max-width: 100px;
}

.logo__name {
  font-size: 24px;
  color: lightblue;
  text-shadow: blue 1px 0 10px;
  transition: all 555ms ease;
}

.logo__name:hover {
  color: #fff;
  text-shadow: aqua 1px 0 10px;
}

.menu {
  background: linear-gradient(
    45deg,
    rgba(65, 65, 65, 0.3),
    rgba(240, 240, 240, 0.7)
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.5);
  padding: 12px 24px;
}

.menu__link {
  color: lightgrey;
  transition: all 555ms ease;
}

.menu__link:hover {
  color: #fff;
}

.more__menu {
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-circle-down {
  font-size: 40px;
  color: #fff;
}

.fa-circle-down:hover {
  color: aqua;
}

.more__menu--dropdown {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, blue, aqua, turquoise, lightgreen);
  transition: all 2s ease;
  opacity: 0;
  height: 100vh;
}

.menu-open .more__menu--dropdown {
  visibility: visible;
  animation: slide-in 2s ease;
  opacity: 1;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fa-circle-up {
  position: absolute;
  top: 20px;
  right: 12px;
  font-size: 40px;
}

.more__menu--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 2;
}

.more__menu--link {
  color: #fff;
}

.more__menu--link:hover {
  color: cornflowerblue;
}

.more__menu--link-primary {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 50px;
}

.more__menu--link-primary:hover {
  border-color: blue;
  color: blue;
  background: linear-gradient(90deg, rgba(0, 255, 166, 0.5), #fff);
}

.modal__logo {
  flex-direction: column;
}

/* 

HOME

*/

#landing {
  height: 100vh;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.865), #000);
}

.main {
  display: flex;
  align-items: center;
  padding: 100px 24px;
}

.main__section {
  width: calc(100% / 3);
}

.main__img {
  width: 100%;
}

.main__img--title {
  opacity: 0;
  transition: all 1s ease;
  color: #fff;
  text-align: center;
  padding-top: 24px;
}

.main__img--wrapper:hover .main__img--title {
  opacity: 1;
}

.main__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: cornflowerblue;
}

.main__content--title {
  line-height: 1.5;
}

.main__content--title:hover {
  text-shadow: aqua 1px 0 10px;
  color: #fff;
}

.main__content--para {
  padding: 14px 0;
}

.main__content--link {
  color: #fff;
  transition: all 1s ease;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 50px;
}

.main__content--link:hover {
  color: aquamarine;
  border: 1px solid aquamarine;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), lightgrey);
}

/* 

ABOUT

*/

#about {
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.865), #000);
}

.page__title {
  transition: all 1s ease;
}

.page__title:hover {
  text-shadow: aqua 1px 0 10px;
}

.page__para {
  margin: 24px 0;
}

.about__img {
  width: 100%;
  max-width: 450px;
}

/* 

GALLERY

*/

#gallery {
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.865), #000);
  padding-bottom: 80px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px;
}

.gallery__img--wrapper {
  width: 25%;
}

/* 

CONTACT

*/

#contact {
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.865), #000);
}

.row__contact {
  display: flex;
  justify-content: space-between;
}

.address__info {
  text-align: left;
}

.contact__info {
  text-align: right;
}

.contact__title {
  color: cornflowerblue;
}

.contact__title-2 {
  margin-top: 24px;
}

.address-contact {
  font-size: 14px;
  color: #fff;
}

.phone__number {
  color: lightgreen;
}

.contact__img--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.contact__img {
  width: 100%;
  max-width: 500px;
}

/* 

SERVICES

*/

#services {
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.865), #000);
}

.services__title--content {
    text-align: left;
}

.services__para {
    margin: 12px 0;
    font-size: 14px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.service {
    margin: 12px;
    width: 45%;
}

.service__img {
    width: 100%;
}

.spa__img {
    border: 6px solid #fff;
}


/* 

FOOTER

*/

footer {
    background: linear-gradient(180deg, #000, lightblue);
}

.footer__container {
    padding: 40px 0;
}

.footer__logo--img {
    width: 100%;
    max-width: 100px;
}

.footer__links {
    padding: 24px 0;
}

.footer__link {
    padding: 0 12px;
    color: #fff;
    transition: all 1s ease;
}

.footer__link:hover {
    color: lightgreen;
}

.footer__copyright {
    font-size: 14px;
}

.footer__copyright--tag {
    padding: 8px 0;
}


/* 

RESPONSIVENESS

*/

@media (min-height: 900px) {
  .main {
    padding: 200px 24px;
  }
}

@media (max-width: 1100px) {
  .more__menu {
    max-width: 100px;
  }

  .gallery {
    justify-content: center;
  }

  .gallery__img--wrapper {
    width: 45%;
    margin: 12px;
  }

  .gallery__img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav__bar {
    flex-wrap: wrap;
  }

  .logo {
    width: 100%;
    margin-bottom: 12px;
  }

  .menu {
    width: 80%;
    margin-left: 12px;
  }

  .more__menu {
    width: 10%;
  }

  .menu__item {
    font-size: 18px;
  }

  .main {
    flex-direction: column;
    padding: 80px 24px 0 24px;
  }

  .main__section {
    width: 100%;
  }

  .main__img {
    max-width: 300px;
  }

  .main__img--title {
    display: none;
  }

  .img__two {
    display: none;
  }

  .main__img--wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  .gallery__img--wrapper {
    width: 100%;
  }

  .gallery__img {
    width: 100%;
  }

  .row__contact {
    flex-direction: column;
  }

  .address__info {
    text-align: center;
  }

  .contact__info {
    text-align: center;
    margin-top: 24px;
  }

  .services__list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 100%;
  }

  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo--name {
    width: 100%;
    max-width: 300px;
    font-size: 18px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    padding: 12px;
  }

  .logo__name--main {
    font-size: 20px;
  }

  .page__title, .page__para {
    text-align: left;
  }

}

@media (max-width: 380px) {

  .logo__name--main {
    font-size: 18px;
  }

  .main__img {
    max-width: 250px;
  }

  .main {
    padding: 55px 24px 0 24px;
  }

}

@media (max-width: 320px) {

  .logo__name--main {
    font-size: 16px;
  }

  .logo__img {
    max-width: 80px;
  }

  .menu {
    margin-left: 0;
  }

  .menu__link {
    font-size: 14px;
  }

  .page__title {
    font-size: 18px;
  }

  .page__para {
    font-size: 14px;
  }

}
